Source: km2
Section: devel
Priority: optional
Maintainer: Yevhen Yakubosvskiy yaievgeniy@gmail.com
Build-Depends: build-essential, python3, python3-pip

Package: km2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The infrastructure manger for KiraCore
